<div class="interactive">

	<div class="gv-map-container">
			<div class="gv-caption" id="zero">These are 1,392 European electoral districts which held top-level votes in 2017 ... </div>

			<div class="gv-caption" id="one">... and these are the 40 places where the vote share of the traditional centre-left party went up or stayed the same</div>
					
	<div class="gv-map-board"></div>
	</div>
<div class="gv-lipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis lobortis purus, a elementum dui pellentesque eget. Nulla facilisi. Sed luctus vel orci sit amet aliquam. Morbi scelerisque, turpis congue eleifend tempor, nulla velit consectetur diam, id ornare nisi ligula id lorem. Donec porttitor ante id elementum ornare. Ut in ipsum mi. Proin venenatis orci sit amet odio condimentum tempus. Suspendisse nisl enim, luctus vel bibendum id, hendrerit id quam. In a lacinia dolor.</div>

</div>