<div class="interactive">
		<div class="gv-caption" id="zero"><p>These are 946 European electoral districts which held top-level votes in 2017 ... </p></div>


	<div class="gv-map-container">
			<div class="gv-caption" id="one"><p>... and these are the 56 places where the vote share of the traditional centre-left party went up or stayed the same</p></div>
					
	<div class="gv-map-board"><svg viewBox="0 0 236.68283081054688 239.70945739746094" xmlns="http://www.w3.org/2000/svg">
		<g id="finalfri1" transform="matrix(1, 0, 0, 1, -350.062134, 3.237918)"></g></svg></div>
	</div>

</div>
<div class="gv-pure-shame"></div>