@import "mq";
@import "fonts";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    

    svg {
        width: 200%;

        transform: rotate(0deg) translate(0px,0px);
    }

    path[id^=GB]{
        display: none;
    }

    path {
        fill:#680000;

        &.gv-band-no-data {
            fill: #bdbdbd;
        }

        &.hidden{
            opacity:0.1;
            transition: opacity 3s ease-in-out;

        }
    }




}

.hidden {
    opacity:0.1;
    transition: all 3s ease-in-out;

}

.gv-heading {
    @include fs-headline(5)
}

.gv-caption#one {
    opacity: 0;
    position:relative;
    top: 200px;
    width: 280px;
    display: block;
    &.visible{
        background-color: lightgrey;
        opacity: 1;
        transition: opacity 3s ease-in-out;
    }
}

.gv-fader {
    max-width: 620px;

    display: block;
    position: relative;
    margin-bottom: 100%;
}

h2 + figure {
        max-width: 400px;
        display: inline-block;
        padding-right: 20px;
}



ul {
    vertical-align: top;
    display: inline-block;
    max-width: 200px;
    @include fs-textSans(4);
    margin-left: 0px;
    li {
        display: block;
    }
    strong {
        color:#680000;
    }
}





.gv-before,.gv-after {

    img {
        width: inherit;
        z-index: -1;
    }

    opacity: 1;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: opacity 3s ease-in-out;
  
    &.hidden {
        opacity:0;
        transition: opacity 3s ease-in-out;
    
    }
}
