@import "mq";
@import "fonts";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";


 $redaccent: #b51800;
 $greyaccent: #dcdcdc;


.element-atom,
.interactive-atom {
    margin: 0 !important;

    svg {
        width: 100%;
    }

    path[id^=GB]{
        display: none;
    }

    path {
        fill:$redaccent;

        &.gv-band-no-data {
            fill: $greyaccent;
        }

        &.hidden{
            opacity:0.1;
            transition: opacity 2s ease-in-out;

        }
    }


}

.gv-caption {

    z-index: 10;

    &#zero {
        width: 300px;
        position: relative;
        margin-bottom: -10%;

        @media (min-width: 1300px) {
            margin-left: 240px;
        }
    
        @media (max-width: 1300px) and (min-width: 1140px) {
            margin-left: 160px;
        }
    
        @media (max-width: 1140px) and (min-width: 980px) {
            margin-left: 0px;
        }
    
        @media (max-width: 980px) and (min-width: 740px) {
            margin-left: 0px;
        }

    }
    &#one {
        right: 0px;
        opacity: 0;
        position:absolute;
        width: 280px;
        display: block;
        transition: opacity 2s ease-in-out;
    
    
        &.visible{
            opacity: 1;
            position:absolute;
            bottom: 0px;
            width: 280px;
            display: block;
            transition: all 2s ease-in-out;
        }
    
    
    }


    p {
        font-family: "Guardian Egyptian Web", Georgia;
        display: inline;
        background-color:#fcfcfc;
        color: #333;
        padding: 5px 5px 5px 5px;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        font-size: 28px;
        line-height: 32px;
        font-weight: 200;
        transform: translateZ(0px);
        opacity: 0.85;

        @include mq($from: mobile, $until: mobileLandscape) {
          font-size: 21px;
          line-height: 32px;

        }

        @include mq($from: mobileLandscape, $until:tablet) {
          font-size: 24px;
          line-height: 36px;
        }

        @include mq($from: tablet) {
          font-size: 28px;
          line-height: 40px;
        }
    }

    p::before {
        content: '';
        background-color:$redaccent;
        width:4px;
        display:inline-block;
        height:38px;
        transform: translate(-5px,11px);

        @include mq($from: mobile, $until: mobileLandscape) {
          height:30px;
          transform: translate(-5px,10px);

        }

        @include mq($from: mobileLandscape, $until:tablet) {
          height:34px;
          transform: translate(-5px,10px);
        }

        @include mq($from: tablet) {
          height:38px;
          transform: translate(-5px,11px);
        }

}

}

.gv-map-container{

    position: relative;

    @media (min-width: 1300px) {
        margin-left: 240px;
    }

    @media (max-width: 1300px) and (min-width: 1140px) {
        margin-left: 160px;
    }

    @media (max-width: 1140px) and (min-width: 980px) {
        margin-left: 0px;
    }

    @media (max-width: 980px) and (min-width: 740px) {
        margin-left: 0px;
    }
    min-height: 300px;
    max-width: 840px;
    clear: both;

}


h2 + figure {
    max-width: 400px;
    display: inline-block;
    padding-right: 20px;
}

figure + p {
    clear: both;
}

figure[data-alt=comparison] {
    max-width: 620px !important;
    width: 100%;
}

.content__main-column {

    a {
        @include fs-textSans(4);
        color: $redaccent;
    }

    ul {
        vertical-align: top;
        display: inline-block;
        max-width: 200px;
        @include fs-textSans(4);
        margin-left: 0px;
        li {
            display: block;
        }
        strong {
            color:$redaccent;
        }
        }
        

}




.gv-pure-shame {
    height: 1px;
    width: 100%;
    display: block;
    clear: both;
}
