@import "mq";
@import "fonts";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;

    svg {
        width: 100%;
    }

    path[id^=GB]{
        display: none;
    }

    path {
        fill:#680000;

        &.gv-band-no-data {
            fill: #bdbdbd;
        }

        &.hidden{
            opacity:0.1;
            transition: all 3s ease-in-out;

        }
    }


}

.gv-caption {

    &#zero {
        top: 000px;
    }
    &#one {
        bottom: 0px;
        right: 0px;
    }


    background-color: lightgrey;
    opacity: 1;
    position:absolute;
    width: 280px;
    display: block;
    transition: all 3s ease-in-out;


    &.visible{
        background-color: lightgrey;
        opacity: 1;
        position:absolute;
        top: 200px;
        width: 280px;
        display: block;
        transition: all 3s ease-in-out;
    }



}

.gv-map-container{

    position: relative;

    @media (min-width: 1300px) {
        margin-left: 240px;
    }

    @media (max-width: 1300px) and (min-width: 1140px) {
        margin-left: 160px;
    }

    @media (max-width: 1140px) and (min-width: 980px) {
        margin-left: 0px;
    }

    @media (max-width: 980px) and (min-width: 740px) {
        margin-left: 0px;
    }

    max-width: 840px;
    max-height: 80vh;
    margin: auto;
    clear: both;

}


h2 + figure {
    max-width: 400px;
    display: inline-block;
    padding-right: 20px;
}



ul {
vertical-align: top;
display: inline-block;
max-width: 200px;
@include fs-textSans(4);
margin-left: 0px;
li {
    display: block;
}
strong {
    color:#680000;
}
}




